<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate MCQ Test</title>
</head>
<body>
    <h1>MCQ Test Generator</h1>
    
    <form method="POST" action="/">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" value="Math" required><br><br>

        <label for="grade">Grade:</label>
        <input type="text" id="grade" name="grade" value="12" required><br><br>

        <label for="num_questions">Number of Questions:</label>
        <input type="number" id="num_questions" name="num_questions" value="10" required><br><br>

        <button type="submit">Generate Test</button>
    </form>
</body>
</html>
